/* Resetting default margins and paddings */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('images/hotelbackground2.jpg') no-repeat center center/cover;
    color: #333;
}

/* Hero section */
.hero {
    position: relative;
    height: 20vh;
    background: url('images/hotelbackground.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 8px;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}

/* Navigation bar */
.navigation {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.navigation a {
    color: #fff;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.navigation a:hover {
    color: #FFD700;
}

/* Intro section */
.intro {
    text-align: center;
    padding: 20px;
    color: white;
    margin: 30px auto;
    width: 80%;
}

.intro p {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.intro .button {
    padding: 15px 30px; /* Increased padding */
    font-size: 23px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.intro .button:hover {
    background-color: #0056b3;
}

/* About section */
.about {
    padding: 40px;
    color: white;
    margin: 30px auto;
    width: 80%;
    text-align: center;
    font-size: 20px; /* Adjust font size */
    line-height: 1.6; /* Adjust line height for readability */
}

.hotel-description {
    font-size: 24px; /* Larger font size for hotel description */
    margin-bottom: 20px;
}

.feature-heading {
    font-size: 22px; /* Larger font size for feature headings */
    margin-bottom: 10px;
}

.features-list {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 18px; /* Adjust font size for list items */
}


.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

.about ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Gallery */
.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gallery img {
    width: 30%;
    border-radius: 8px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 32px;
    }

    .about {
        width: 95%;
    }

    .gallery {
        flex-direction: column;
        gap: 20px;
    }

    .gallery img {
        width: 100%;
    }
}
